body {
    background-color: #f0e6f7; /* Светлый фон с легким фиолетовым оттенком */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Игривая шрифт */
}

h1, h2, h3 {
    color: #ff69b4; /* Яркий розовый цвет для заголовков */
    text-align: center; /* Центрирование заголовков */
}

button {
    background: linear-gradient(to right, #ff6f61, #de5d9a); /* Градиент от розового к фиолетовому */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px; /* Закругленные углы */
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s; /* Плавный переход цвета */
}

button:hover {
    background: linear-gradient(to right, #de5d9a, #ff6f61); /* Обратный градиент при наведении */
}

input {
    border: 2px solid #ff69b4; /* Розовая рамка для полей ввода */
    border-radius: 10px; /* Закругленные углы */
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

input:focus {
    outline: none; /* Убираем стандартный контур */
    border-color: #de5d9a; /* Изменение цвета рамки при фокусе */
}